// COLORS
$color-primary: #191d34;
$color-secondary: #826c6c;
$color-tertiary: #000cf2;
$color-red-logo: #cf1b37;

$color-white: #fff;

$color-black: #000;
$color-black-2: #1c1818;

$color-dark: #2d2d2d;

$color-blue-light: #a6dbed;


// FONT
$default-font-size: 1.5rem;

