.services {
    margin-top: 12rem;

    i {
        color: $color-blue-light;
    }

    .services__description {
        font-size: 1.3rem;
        letter-spacing: .5rem;
    }

    .services__info {
        font-size: 1.2rem !important;
    }

    .services__list li {
        transition: transform .7s;
        border: 1px solid $color-blue-light;
        border-radius: 1rem;

        &:hover {
            transform: scale(1.05);
            background-color: $color-dark;
            color: $color-white !important;
            transition: all 1s;
            box-shadow: .5rem 1rem 2rem $color-dark;

            &>p {
                transform: scale(1.05);
                color: $color-white !important;
                transition: all 1s;
            }

            &>a {
                background-color: $color-white;
                color: $color-dark !important;
            }

            &>i {
                color: $color-white;
            }
        }
    }

    .services__list a {
        transition: all 1s;

        &:hover {
            transform: scale(1.2);
        }
    }
}

.carousel-control-prev {
    width: 40px !important;
}

.carousel-control-next {
    width: 40px !important;
}

.size-2rem {
    font-size: 2rem;
}

.news {
    background-color: #f3f3f3;
    margin-top: 12rem;

    &__item {
        display: inline-block;
        border-radius: 2rem;
        width: 80%;
        background-color: $color-white;
        box-shadow: .5rem 1rem 2rem $color-dark;
        padding: 2rem;
        margin-top: 2rem;
        margin-bottom: 5rem;
        // background-image: url(/img/news4.jpg);
        // background-repeat: no-repeat;
        // background-size: cover;
        // background-position: bottom;
        // color: #f3f3f3;
    }

    &__image {
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        display: inline-block;
    }

    .img-1 {
        background: url(/img/news1.jpg);
        background-position: center;
        background-size: cover;
    }

    .img-2 {
        background: url(/img/news2.jpg);
        background-position: center;
        background-size: cover;
    }

    .img-3 {
        background: url(/img/news3.jpg);
        background-position: center;
        background-size: cover;
    }

    .img-4 {
        background: url(/img/news4.jpg);
        background-position: center;
        background-size: cover;
    }
}






// ------------------------------------------

.form {
    background-image: url(/img/banner-4.png);
    background-repeat: no-repeat;
    background-size: cover;

    .form-head {
        width: 50%;
        font-size: $default-font-size;
        font-weight: 200;
    }
}

//---------------------------------------------

.guideline {
    background-color: #f3f3f3;
    margin-top: 12rem;

    .guideline__list__item {

        &--number {
            width: 7rem;
            height: 7rem;
            border-radius: 50%;
            background-color: $color-tertiary;
            color: $color-white;
            font-size: 4.5rem;
            display: inline-block;
            font-weight: 200;
        }

        &__paragraph {
            font-size: 1.3rem;
        }
    }
}




//--------------------------------------

//-----------------------------------------------

.article p {
    font-size: 1.3rem;
}

.article__title {
    margin-top: 6rem;
}


//-----------------------------------------------

.footer p {
    font-size: 2.5rem;
    font-weight: 200;
}

.footer a {
    font-size: 1.6rem;
    font-weight: 100;
    color: $color-white;
}

.footer li {
    padding-bottom: 15px;
}

.footer__about {
    font-size: 1.6rem !important;
    font-weight: 100;
}

.footer__copyright {
    font-size: $default-font-size !important;
}

.footer {
    background-color: #212529;
}